# Visual Studio 
.vs/
*.sln
*.vcxproj
*.filters
*.user

# Build Files 
x64
env
Debug
enc_temp_folder
build/*
*.exe 
*.json
__pycache__
out

# Output files and images 
*.png
*.svg
*.out

# Notebook files 
.ipynb_checkpoints


# Do not copy MNIST data 
Notebooks/MNIST_data/test.csv
Notebooks/MNIST_data/train.csv

# Ignore executable file path 
exe_path*.txt

# Some datasets to ignore
iris_matching_datasets/